<ChannelContainer @channel={{this.model}} as |ch|>
  <ChannelHeader @channel={{this.model}} />

  {{!-- Chat messages --}}
  <div class="py-4 flex-1 overflow-y-scroll"
    {{did-insert ch.acts.captureScrollElement}}
    {{did-insert ch.acts.updateMessages this.model}}
    {{did-update ch.acts.updateMessages this.model}}
    role="list"
  >
    {{!-- A message --}}
    {{#each ch.messages as |message| }}
      <ChatMessage @message={{message}} @deleteChatMessage={{ch.acts.deleteMessage}} @noFollowLink={{ch.acts.noFollowLink}} />
    {{/each}}
  </div>

  <footer class="pb-6 px-4 flex-none">
    <MessageCreator @onSubmit={{ch.acts.submitMessage}} />
  </footer>
</ChannelContainer>