<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">


  <Channel::Header {{!-- class='bg-red' --}} @title={{this.model.name}} @description={{this.model.description}} />
  <!-- Channel Message List -->
  <Channel::Container @channel={{this.model}} as |messages acts|>
    <!-- messages.forEach(function (m) { -->
    {{#each messages as |m|}}
      <Channel::Message @message={{m}} />
    {{/each}}
    <!-- });  -->
    <Channel::Footer @createMessage={{acts.createMessage}} />
  </Channel::Container>


</main>